# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  pull_request:
    paths:
    - 'src/**'
    - '.github/workflows/ci-pipeline.yml'
  push:
    branches:
    - 'master'
    paths:
    - 'src/**'
    - '.github/workflows/ci-pipeline.yml'

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    container: jlimperg/agda-stdlib:2.6.1_1.3

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    # Checks all .agda files in the src directory using the helper script in tools
    - name: Check Agda Code
      run: |
        for f in $(find . -name "*.agda")
          do agda --library-file /root/.agda/libraries "$f"
        done
